# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.html
model_checkpoints/
best_model/
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# OS specific
.DS_Store
.env
.env.local